<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="menu">

	<select id="getMenuList" parameterType="HashMap" resultType="aero.cubox.core.vo.MenuVO">
		SELECT
			DISTINCT TRM.menu_cd ,
			TM.menu_nm ,
			TM.order_no,
			TM.parent_menu_cd
		FROM T_ROLE_MENU TRM
				 INNER JOIN T_MENU TM ON TRM.menu_cd = TM.menu_cd
		WHERE 1=1
		<if test="@aero.cubox.util.CommonUtils@notEmpty(role_id)">
		  AND TRM.role_id = #{role_id}
		</if>
		  AND TM.parent_menu_cd = ''
		ORDER BY TM.order_no
	</select>

	<select id="getMenuDetailList" parameterType="HashMap" resultType="aero.cubox.core.vo.MenuDetailVO">
		SELECT
			DISTINCT TRM.menu_cd ,
			TM.menu_nm ,
			TM.order_no
		FROM T_ROLE_MENU TRM
		INNER JOIN T_MENU TM ON TRM.menu_cd = TM.menu_cd
		WHERE 1=1
		  AND TM.parent_menu_cd = #{parent_menu_cd}
		ORDER BY TM.order_no
	</select>
</mapper>