<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="system">

    <select id="getPrivacyList" parameterType="aero.cubox.core.vo.PrivacyVO" resultType="aero.cubox.core.vo.PrivacyVO">
        SELECT
        id as id
        ,emp_nm as empNm
        ,emp_cd as empCd
        ,dept_cd as deptCd
        ,dept_nm as deptNm
        ,instt_cd as insttCd
        ,instt_nm as insttNm
        ,belong_nm as belongNm
        ,''as userTypNm
        ,DATE_FORMAT(expired_dt, '%Y-%m-%d') as expiredDt
        ,DATE_FORMAT(created_at, '%Y-%m-%d') as createdAt
        ,DATE_FORMAT(updated_at, '%Y-%m-%d') as updatedAt
        FROM    T_EMP
        WHERE
            delete_yn = 'N'

        <if test='@aero.cubox.util.CommonUtils@notEmpty(fromDt) and @aero.cubox.util.CommonUtils@notEmpty(toDt)'>
            AND expired_dt BETWEEN #{fromDt} AND #{toDt}
        </if>
        <if test='@aero.cubox.util.CommonUtils@notEmpty(keyword1)'>
            AND (instt_nm LIKE CONCAT('%',#{keyword1},'%') OR dept_nm LIKE CONCAT('%',#{keyword1},'%'))
        </if>
        <if test='@aero.cubox.util.CommonUtils@notEmpty(keyword2)'>
            AND (emp_cd = #{keyword2} OR emp_nm LIKE CONCAT('%',#{keyword2},'%'))
        </if>
        <if test='@aero.cubox.util.CommonUtils@empty(isExcel)'>
            limit	#{srchCnt} offset #{offset}
        </if>
    </select>

    <select id="getPrivacyListCount" parameterType="aero.cubox.core.vo.PrivacyVO" resultType="int">
        SELECT
            count(*)
        FROM	T_EMP
        WHERE
            delete_yn = 'N'

        <if test='@aero.cubox.util.CommonUtils@notEmpty(fromDt) and @aero.cubox.util.CommonUtils@notEmpty(toDt)'>
            AND expired_dt BETWEEN #{fromDt} AND #{toDt}
        </if>
        <if test='@aero.cubox.util.CommonUtils@notEmpty(keyword1)'>
            AND (instt_nm LIKE CONCAT('%',#{keyword1},'%') OR dept_nm LIKE CONCAT('%',#{keyword1},'%'))
        </if>
        <if test='@aero.cubox.util.CommonUtils@notEmpty(keyword2)'>
            AND (emp_cd = #{keyword2} OR emp_nm LIKE CONCAT('%',#{keyword2},'%'))
        </if>
    </select>

    <select id="getEmpDetail" parameterType="Map" resultType="Map">
        SELECT
            id as id
             ,emp_nm as empNm
             ,emp_cd as empCd
             ,dept_cd as deptCd
             ,dept_nm as deptNm
             ,instt_cd as insttCd
             ,instt_nm as insttNm
             ,belong_nm as belongNm
             ,DATE_FORMAT(expired_dt, '%Y-%m-%d') as expiredDt
             ,DATE_FORMAT(created_at, '%Y-%m-%d') as createdAt
             ,DATE_FORMAT(updated_at, '%Y-%m-%d') as updatedAt
        FROM	T_EMP
        WHERE
            emp_cd = #{empCd}
    </select>

    <update id="delAllPrivacy" parameterType="Map">
        UPDATE T_EMP
            SET delete_yn = 'Y', deleted_at = NOW(3)
        WHERE
            expired_dt between #{fromDt} and #{toDt}

        <if test='@aero.cubox.util.CommonUtils@notEmpty(keyword1)'>
            AND (instt_nm like CONCAT('%',#{keyword1},'%') OR dept_nm like CONCAT('%',#{keyword1},'%'))
        </if>
        <if test='@aero.cubox.util.CommonUtils@notEmpty(keyword2)'>
            AND (emp_cd = #{keyword2} OR emp_nm like CONCAT('%',#{keyword2},'%'))
        </if>
    </update>

    <update id="delPrivacy" parameterType="Map">
        UPDATE T_EMP
            SET delete_yn = 'Y', deleted_at = NOW(3)
        WHERE
            emp_cd = #{empCd}
    </update>


    <select id="getStatList" parameterType="aero.cubox.core.vo.EntHistStatVO" resultType="aero.cubox.core.vo.EntHistStatVO">
        select eh.totDate,
        CASE
        WHEN eh.card_tag_typ = ""
        THEN '얼굴인증'
        WHEN eh.card_tag_typ = "01"
        THEN '마이페어 카드'
        WHEN eh.card_tag_typ = "02"
        THEN '공무원증'
        WHEN eh.card_tag_typ = "03"
        THEN 'Mobile NFC'
        ELSE 'BLE'
        END
        as cardTagTyp
        , eh.cnt from
        (select  card_tag_typ , totDate, sum(cnt) as cnt FROM
        (select DATE_FORMAT(created_at,'%Y-%m-%d') as totDate, card_tag_typ, building_cd, count(1) as cnt FROM T_ENT_HIST group by  DATE_FORMAT(created_at,'%Y-%m-%d'), card_tag_typ, building_cd
        having card_tag_typ in ("01", "02", "03", "04", "")) a
        group by building_cd, card_tag_typ, totDate
        having 1=1
        <if test='@aero.cubox.util.CommonUtils@notEmpty(fromDt) and @aero.cubox.util.CommonUtils@notEmpty(toDt)'>
            AND totDate BETWEEN #{fromDt} AND #{toDt}
        </if>
        ) eh
        <if test='@aero.cubox.util.CommonUtils@notEmpty(srchCond3)'>
            AND building_cd = #{srchCond3}
        </if>
        <if test='@aero.cubox.util.CommonUtils@notEmpty(srchCond1)'>
            AND card_tag_typ = #{srchCond1}
        </if>
        order by totDate desc
        limit	#{srchCnt} offset #{offset}
    </select>

    <select id="getStatListCount" parameterType="aero.cubox.core.vo.EntHistStatVO" resultType="int">
        select count(*) from
        (select  card_tag_typ , totDate, sum(cnt) as cnt FROM
        (select DATE_FORMAT(created_at,'%Y-%m-%d') as totDate, card_tag_typ, building_cd, count(1) as cnt
         FROM T_ENT_HIST group by  DATE_FORMAT(created_at,'%Y-%m-%d'), card_tag_typ, building_cd
        having card_tag_typ in ("01", "02", "03", "04", "")) a
        group by building_cd, card_tag_typ, totDate
        having 1=1
        <if test='@aero.cubox.util.CommonUtils@notEmpty(fromDt) and @aero.cubox.util.CommonUtils@notEmpty(toDt)'>
            AND totDate BETWEEN #{fromDt} AND #{toDt}
        </if>
        ) eh
        <if test='@aero.cubox.util.CommonUtils@notEmpty(srchCond3)'>
            AND building_cd = #{srchCond3}
        </if>
        <if test='@aero.cubox.util.CommonUtils@notEmpty(srchCond1)'>
            AND card_tag_typ = #{srchCond1}
        </if>

    </select>

</mapper>